.log{
    background-image: url("C:\Users\sarat\petsunleashed\src\images\pexels-sergio-souza-3198005.jpg");
    background-size: cover;
    background-size: 100%;
    padding-right: 2cm;
}
.sign{
    margin-left: 48%;
    
}
.submit{
    margin-left: 48%;
}