h1{
    font-family: 'Times New Roman', Times, serif;
    color:darkslategrey;
    margin-left: 36%;
}
div{
    background-color: darkcyan;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    color:darkslategrey;
    margin-left: 30%;
}
h4{
    margin-left: 1cm;
}