div{
    background-image: url("C:\Users\sarat\petsunleashed\src\images\fav.jpg");
  background-size: cover;
  background-size: 100%;
  font-weight:100px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    text-align: center;
   
    
    
    
}