<!-- Just an image -->
<nav class="navbar navbar-light bg-warning">
    <a class="navbar-brand" href="#">
       <div class="foot">
        <div class="img"><img src="https://static.wixstatic.com/media/4057345bcf57474b96976284050c00df.png/v1/fill/w_49,h_49,al_c,q_85,usm_0.66_1.00_0.01/4057345bcf57474b96976284050c00df.webp" width="40px" height="30px">
        <img src="https://static.wixstatic.com/media/870f97661ed14a5bb2d96ecbddec0aed.png/v1/fill/w_49,h_49,al_c,q_85,usm_0.66_1.00_0.01/870f97661ed14a5bb2d96ecbddec0aed.webp" width="35px" height="30px">
        <img src="https://static.wixstatic.com/media/9bb36b9678aa447c950af4fbb7c4801f.png/v1/fill/w_49,h_49,al_c,q_85,usm_0.66_1.00_0.01/9bb36b9678aa447c950af4fbb7c4801f.webp" width="40px" height="30px">
        </div>
    
        <p>  #Petsunleashed #Petsrescue  #Petstraining  #Petfeeds Opposite New Tower Building,Calicut</p></div> </a>
  </nav>  
